.portfolio {
  padding: 50px 70px 125px;
}

.portfolio__title {
  margin: 0 0 30px;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.11;
  color: #a0a0a0;
}

.portfolio__link {
  display: flex;
  justify-content: space-between;
  font-size: 30px;
  line-height: 89px;
  letter-spacing: -0.04em;
  color: #000000;
  text-decoration: none;
}

.portfolio__link:hover {
  color: #666565;
}

.portfolio__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.portfolio__item {
  border-bottom: #e8e8e8 1px solid;
}

.portfolio__item:last-of-type {
  border-bottom: none;
}
