.promo {
  background-color: #f3c1f8;
  display: flex;
  flex-direction: column;
}

.promo__title {
  text-align: center;
  margin: 0;
  vertical-align: middle;
  max-width: 730px;
  font-size: 50px;
  line-height: 1.16;
  font-weight: normal;
  text-align: center;
  letter-spacing: -0.04em;
}

@media screen and (max-width: 768px) {
  .promo__title {
    margin: 0 19px 0;
  }
}

@media screen and (max-width: 540px) {
  .promo__title {
    font-size: 31px;
    line-height: 1.26;
    margin: 0 10px 0;
  }
}

.promo__background {
  background-image: url('../../images/practikum.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 320px 320px;
  height: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 11.7vh 0 17.4vh;
}

@media screen and (max-width: 400px) {
  .promo__background {
    background-size: 248px 248px;
    height: 248px;
    margin: 18.2vh 0 23vh;
  }
}

@media screen and (min-height: 800px) {
  .promo__background {
    margin: 21.9vh 0 23.4vh;
  }
}
