.no-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-between; */
  /* padding-bottom: 60px; */
}

.no-page__code {
  margin: 0;
  margin-top: 35vh;
  font-size: 140px;
  line-height: 169px;
  text-align: center;
}

@media screen and (max-width: 540px) {
  .no-page__code {
    font-size: 80px;
    line-height: 97px;
  }
}

.no-page__message {
  margin: 5px 0 0;
  font-size: 16px;
  line-height: 19px;
}

@media screen and (max-width: 540px) {
  .no-page__message {
    margin-top: 10px;
    font-size: 12px;
    line-height: 15px;
  }
}

.no-page__link {
  margin: auto 0 60px;
  font-size: 14px;
  line-height: 17px;
  color: inherit;
  text-decoration: none;
}

.no-page__link:hover {
  text-decoration: underline;
}

@media screen and (max-width: 540px) {
  .no-page__link {
    margin-bottom: 30px;
    font-size: 12px;
    line-height: 15px;
  }
}
