.main__subtitle {
  font-weight: normal;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: -0.04em;
  border-bottom: black 1px solid;
  min-height: 50px;
  margin: 0;
}

@media screen and (max-width: 540px) {
  .main__subtitle {
    font-size: 18px;
    line-height: 22px;
  }
}
