.nav__link {
  margin-right: 20px;
  text-decoration: none;
  color: inherit;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

.nav__link:last-of-type {
  margin-right: 0px;
}

.nav__link:hover {
  text-decoration: underline;
}

@media screen and (max-width: 540px) {
  .nav__link {
    font-size: 10px;
    margin-right: 4px;
  }
}

.nav__link_logined {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.29;
}

.nav__link_activated {
  font-weight: 500;
}

.nav__link_for_account {
  display: inline-block;
  width: 100px;
  height: 32px;
  margin-left: 30px;
  font-weight: 500;
  line-height: 32px;
  color: #000000;
  background: #f9f9f9;
  border-radius: 20px;
  cursor: pointer;
  text-align: center;
}

.nav__link_for_signin {
  display: inline-block;
  width: 76px;
  height: 32px;
  margin-left: 10px;
  font-weight: 500;
  line-height: 32px;
  color: #ffffff;
  background: #000000;
  border-radius: 3px;
  cursor: pointer;
  text-align: center;
}

.nav__link_for_signin:hover {
  text-decoration: none;
  opacity: 80%;
}

@media screen and (max-width: 540px) {
  .nav__link_for_signin {
    width: 54px;
    height: 26px;
    line-height: 26px;
  }
}

.nav__button_logined {
  width: 100px;
  margin-left: 50px;
  font-size: 14px;
  line-height: 1.14;
  color: #000000;
  background: #f9f9f9;
  border-radius: 20px;
}
