.nav__link {
  margin-right: 20px;
  text-decoration: none;
  color: inherit;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

.nav__link:last-of-type {
  margin-right: 0px;
}

.nav__link:hover {
  text-decoration: underline;
}

@media screen and (max-width: 540px) {
  .nav__link {
    font-size: 10px;
    margin-right: 4px;
  }
}

.nav__link_button-like {
  display: inline-block;
  width: 76px;
  height: 32px;
  margin-left: 10px;
  font-weight: 500;
  line-height: 32px;
  color: #ffffff;
  background: #000000;
  border-radius: 3px;
  cursor: pointer;
  text-align: center;
}

.nav__link_button-like:hover {
  text-decoration: none;
  opacity: 0.8;
}

@media screen and (max-width: 540px) {
  .nav__link_button-like {
    width: 54px;
    height: 26px;
    line-height: 26px;
  }
}
