.nav__link {
  margin-right: 20px;
  text-decoration: none;
  color: inherit;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

.nav__link:last-of-type {
  margin-right: 0px;
}

.nav__link:hover {
  text-decoration: underline;
}

.nav__button {
  width: 76px;
  height: 32px;
  margin-left: 30px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #ffffff;
  background: #000000;
  border-radius: 3px;
  border: 0px;
  cursor: pointer;
}

.nav__button:hover {
  opacity: 80%;
}

.nav__button_logined {
  width: 100px;
  margin-left: 50px;
  font-size: 14px;
  line-height: 1.14;
  color: #000000;
  background: #f9f9f9;
  border-radius: 20px;
}

.nav__link_logined {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.29;
}

.nav__link_activated {
  font-weight: 500;
}