.search-form {
  padding: 60px 70px 0px;
}

.search-form__input {
  width: calc(100% - 22px);
  background: #f9f9f9;
  border-radius: 40px;
  border: 0;
  height: 46px;
  padding-left: 22px;
  font-size: 13px;
  line-height: 1.31;
}

.search-form__input::placeholder {
  font-size: 13px;
  line-height: 1.31;
  color: #a0a0a0;
}

.search-form__input:focus {
  outline: none;
}

.search-form__button {
  background-image: url('../../images/search-button.svg');
  width: 34px;
  height: 34px;
  background-size: 100%;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  position: absolute;
  top: 6px;
  right: 6px;
  cursor: pointer;
}

.search-form__search-container {
  position: relative;
}

.search-form__checkbox-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: #e8e8e8 1px solid;
  padding: 42px 0 70px;
}

.search-form__checkbox-message {
  font-size: 14px;
  line-height: 1.29;
  margin: 0;
  margin-left: 12px;
}

.search-form__switch {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 20px;
}

.search-form__checkbox {
  opacity: 0;
  width: 0;
  height: 0;
}

.search-form__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #E8E8E8;
  transition: 0.4s;
  border-radius: 20px;
}

.search-form__slider:before {
  position: absolute;
  content: '';
  height: 8px;
  width: 8px;
  left: 6px;
  bottom: 6px;
  border-radius: 50%;
  background-color: white;
  transition: 0.4s;
}

.search-form__checkbox:checked + .search-form__slider {
  background-color: #2BE080;
}

.search-form__checkbox:checked + .search-form__slider:before {
  transform: translateX(16px);
}
