.sign-form {
  display: flex;
  flex-direction: column;
  max-width: 396px;
  margin: 0 auto 0;
  min-height: calc(100vh - 217px);
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .sign-form {
    min-height: calc(100vh - 379px);
  }
}

@media screen and (max-width: 540px) {
  .sign-form {
    max-width: 260px;
    min-height: calc(100vh - 253px);
  }
}

.sign-form__fieldset {
  display: flex;
  flex-direction: column;
  border: none;
  padding: 0;
}

.sign-form__message {
  justify-self: baseline;
}

.sign-form__input {
  font-size: 14px;
  line-height: calc(17px + 2 * 10px);
  border: none;
  border-bottom: #e8e8e8 1px solid;
  margin: -5px 0 0;
  padding: 0;
  background: none;
}

.sign-form__input:focus {
  border: none;
  outline: none;
  border-bottom: black 1px solid;
}

.sign-form__input:invalid {
  color: #ff4062;
  caret-color: black;
}

.sign-form__label {
  font-size: 10px;
  line-height: 12px;
  color: #a0a0a0;
}

.sign-form__button {
  background: #000000;
  border-radius: 3px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #ffffff;
  border: none;
  padding: 0;
  height: 45px;
  margin-top: 30px;
  cursor: pointer;
}

.sign-form__button:hover {
  opacity: 0.8;
}

.sign-form__button:disabled {
  background: #a0a0a0;
  opacity: 1;
  /* opacity: 0.5; */
  cursor: default;
}

@media screen and (max-width: 540px) {
  .sign-form__button {
    font-size: 12px;
    line-height: 15px;
  }
}

.sign-form__message {
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #a0a0a0;
  margin: 16px 0 70px;
}

@media screen and (max-width: 768px) {
  .sign-form__message {
    margin-bottom: 232px;
  }
}

@media screen and (max-width: 540px) {
  .sign-form__message {
    font-size: 12px;
    line-height: 15px;
    margin: 14px 0 30px;
  }
}

.sign-form__link {
  color: #000000;
  text-decoration: none;
}

.sign-form__link:hover {
  text-decoration: underline;
}

.sign-form__error-message {
  margin: 6px 0 calc(24px - 2 * 6px);
  font-size: 10px;
  line-height: 12px;
  color: #ff4062;
}
